.hero {
  position: relative;
background-image: url("http://ishtiaq.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2019/08/venture_02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://ishtiaq.sandbox.etdevs.com/divi/wp-content/uploads/sites/2/2019/08/venture_02.png");

  opacity: 1; /* Adjust the opacity as per your preference */
}
.about-hero {
  background-image: url("https://images.pexels.com/photos/2451616/pexels-photo-2451616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

@keyframes neon-gradient {
  0%,
  100% {
    border-color: #560548;
    background-size: 200% 200%;
  }
  50% {
    border-color: #ffa600;
    background-size: 200% 200%;
  }
}

/* Modify the animation duration as needed */
.neon-effect {
  animation: neon-gradient 3s ease-in-out infinite;
}
